@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #272727;
    outline: none;
}

body {
    overflow-x: hidden;

}

::selection {
    background-color: #97d5ee;
    color: black;
}

.overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 z-40;
}

.swiper-button-next,
.swiper-button-prev {
    color: #272727;
}

.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-bottom: 20px;
}

.swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
}

.blog .swiper-pagination-bullet {
    background-color: #272727;
}

.blog .swiper {
    padding-block: 50px
}

.blog .swiper-pagination {
    justify-content: center;
    padding: 0;

}

.page {

    @apply pt-56;

    .page__title {
        @apply flex flex-col items-start;

        p {
            @apply bg-secondary rounded-md border-black border px-3 py-1;
        }

        h2 {
            font-size: 50px;
            @apply font-semibold mt-5 max-md:text-3xl;
        }
    }
}



.special-title {
    @apply text-center flex flex-col justify-center items-center;
    
    img {
        margin-bottom: 20px;
    }

    p {
        @apply max-md:text-sm md:leading-none;

    }

    h2 {
        @apply max-md:text-3xl text-[40px];
        font-weight: 600
    }
}

@import './styles/loader';
@import './styles/navbar';
@import './styles/sidebar';
@import './styles/cart';
@import './styles/mobile-navigation';
@import './styles/home';
@import './styles/footer';